
<li>
  <div class="well comment-well">
    <%= comment.body %><br>
    <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small><br>
    <%= comment_creator(comment) %> <br />
    <a href="#comment_reply_<%= comment.id %>" data-toggle="collapse", class="btn btn-default">Reply</a>
    <%= edit_comment(comment) %>
    <%= destroy_comment(comment) %>
  </div>
  <div id="comment_reply_<%= comment.id %>" class="collapse">
    <%= form_for [comment, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a Reply", class: "form-control" %><br/>
      <%= f.submit "Reply"  %>
    <% end %>
    <br />
  </div>

  <div id="comment_edit_<%= comment.id %>" class="collapse">
    <%= form_for comment do |f| %>
      <%= f.text_area :body, placeholder: "Add a Reply", class: "form-control" %><br/>
      <%= f.submit "Update"  %>
    <% end %>
    <br />
  </div>
  <ul>
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>
</li>

