<h1><%= @user.full_name %></h1>

<h3>Posts</h3>

<ul class="comment-list">
  <% @posts.each do |p| %>
    <li class="well">
      <b>Title:</b> <%= p.title %><br />
      <b>Post:</b> <%= p.body %><br />
      <b>Created At:</b> <%= plain_date(p.created_at) %><br />
      <b>Updated At:</b> <%= plain_date(p.updated_at) %><br />
    </li>
  <% end %>
</ul>

<hr>

<h3>Comments</h3>

<ul class="comment-list">
  <% @comments.each do |c| %>
    <li class="well">
      <b>Comment:</b> <%= c.body %><br />
      <b>Created At:</b> <%= plain_date(c.created_at) %><br />
      <b>Updated At:</b> <%= plain_date(c.updated_at) %><br />
    </li>

  <% end %>
</ul>

<%= download_json_profile(@user) %>
