<div class="well">
  <%= content_tag(:h2, @post.title) %>
  <%= content_tag(:p, @post.body) %>
  <small>Submitted by: <%= post_creator(@post) %> <%= time_ago_in_words(@post.created_at) %> ago</small><br>
  <%= link_to 'Back', posts_path %> <br />
  <%= edit_post(@post) %>  <%= destroy_post(@post) %>

</div>

<%= form_for [@post, new_comment] do |f| %>
    <div class="form-group">
      <%= f.label :body, "Comment" %>
      <%= f.text_area :body, class: 'form-control' %><br/>
      <%= f.submit "Add Comment" %>
    </div>
<% end %>

<h3>Comments</h3>

<ul class="comment-list">
  <%= render(partial: 'comments/comment', collection: @post.comments) %>
</ul>
